body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}


.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100%;
    background: #1e73be;
    padding-top: 20px;
    color: white;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

.sidebar a {
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    color: white;
    font-size: 18px;
}

.sidebar a:hover {
    background: #155a91;
}


.content {
    margin-left: 220px;
    padding: 20px;
}

.content h1 {
    color: #0a4171;
}


.tabla-productos {
    margin-left: 220px;
    padding: 20px;
}

.tabla-productos h1 {
    color: #0a4171;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 12px;            
    text-align: left;       
}

th {
    background-color: #1e73be;
    color: white;
}

tr:hover {
    background: #f0f6ff;
}

.receta {
    font-weight: bold;
    color: #c0392b;
}

.btn-detalles {
    padding: 6px 12px;
    background: #1e73be;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.btn-detalles:hover {
    background: #125a94;
}

.tabla-detalles {
    width: 100%;
    background: #f0f6ff;
    border-collapse: collapse;
    margin-top: 10px;
}
.tabla-detalles th {
    background: #06aca4;
    color: white;
    padding: 5px;
}
.tabla-detalles td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.barra-busqueda {
    margin-bottom: 15px;
}

.barra-busqueda input {
    padding: 8px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.barra-busqueda button {
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #2d7dfc;
    color: white;
    border: none;
    cursor: pointer;
}

.barra-busqueda button:hover {
    background-color: #215dcc;
}

