body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    width: 350px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-top: 5px solid #1d6df7;
}

h1 {
    text-align: center;
    color: #1d6df7;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #1d6df7;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 15px;
    border: 1px solid #bcd3ff;
    border-radius: 6px;
    outline: none;
}

input:focus {
    border-color: #1d6df7;
}

button {
    width: 100%;
    padding: 12px;
    background: #1d6df7;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #004be0;
}

.boton {
    display: block;          
    width: 92%;            
    padding: 12px;
    margin: 10px 0;          
    background: #1d6df7;
    color: white;
    border-radius: 6px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;  
    transition: 0.3s;
}

.boton:hover {
    background: #004be0;
}

.enlace {
    text-align: center;
    margin-top: 15px;
}

.enlace a {
    color: #1d6df7;
    text-decoration: none;
}

.enlace a:hover {
    text-decoration: underline;
}
